* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* h6 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 30.067px; /* 167.038% */
/* letter-spacing: 0.251px;
} */
/* h2 {
  color: #fff;

  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: 45.1px; 132.648% */
/* }
h3 {
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 500; */
/* line-height: 25.056px;  */
/* 156.598% */
/* letter-spacing: 0.251px;
} */
