* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
.category-text p {
  color: black;
  font-size: 12px;
}
.category-text h4 {
  font-size: 17px;
}
.explore-flex {
  display: flex;
  justify-content: space-between;
}
